@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.back_image {
  background-image: url("/otu_campus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  background-color: #f9fafc;
  overflow-x: hidden;
}

.line_before::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: indigo;
  height: 3.5px;
  width: 0px;
}

.line_after::after {
  width: 100%;
}

.line_before_footer::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: indigo;
  height: 3.5px;
  width: 0px;
}

.line_after_footer::after {
  width: 100%;
}
